@model ProductListViewModel
@{
    ViewData["Title"] = "Home Page";
}
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>

    @foreach (var e in Model.Products)
    {
        <tr>
            <td>@e.Name</td>
            <td>@e.Price</td>
            <td>@e.Description</td>
        </tr>
    }
</table>

<div page-model="@Model.PagingInfo" page-action="Index"></div>